<h2 mat-dialog-title>
   หนังสือยินยอมให้เก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคล
</h2>
<mat-dialog-content class="mat-typography dialog-content-text">
   <p>
      อ้างถึง พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562
      บริษัทฯในฐานะผู้ควบคุมข้อมูลส่วนบุคคล ได้จัดทำนโยบายความเป็นส่วนตัว (PrivacyPolicy) 
      ขึ้น เพื่อแจ้งให้เจ้าของข้อมูลส่วนบุคคล ได้ทราบเกี่ยวกับรายละเอียด
      และวัตถุประสงค์ รวมถึงรายละเอียดเกี่ยวกับการเปิดเผยข้อมูลส่วนบุคคล
      ระยะเวลาในการจัดเก็บข้อมูลส่วนบุคคล
      ตลอดจนสิทธิตามกฎหมายของท่านที่เกี่ยวข้องกับข้อมูลส่วนบุคคล
      และวิธีการที่ท่านสามารถติดต่อบริษัทฯเพื่อดำเนินการเกี่ยวกับข้อมูลส่วนบุคคล
      โดยท่านสามารถศึกษานโยบายความเป็นส่วนตัว (Privacy Policy)
   </p>

   <p>
      เพื่อให้สอดคล้องกับ พ.ร.บ. คุ้มครองข้อมูลส่วนบุคคล
      บริษัทฯมีความจำเป็นต้องขอความยินยอมในการเก็บรวบรวม
      ใช้หรือเปิดเผยข้อมูลส่วนบุคคลของท่านแก่บริษัทฯ
      และ/หรือบุคคลที่ได้รับมอบหมายให้เป็นผู้ประมวลผลข้อมูลส่วนบุคคลจากบริษัทฯ
      และ/หรือหน่วยงานของรัฐ และ/หรือเอกชนเพื่อปฏิบัติให้เป็นไปตามกฎหมาย
      ดังต่อไปนี้ ข้าพเจ้าในฐานะเจ้าของข้อมูลส่วนบุคคล ซึ่งต่อไปนี้จะเรียกว่า
      “ผู้ให้ความยินยอม” ผู้ให้ความยินยอมได้อ่านและรับทราบนโยบายความเป็นส่วนตัว
      (Privacy Policy) ของบริษัทฯแล้ว และขอให้ความยินยอมแก่บริษัทฯในการเก็บรวบรวม
      ใช้หรือเปิดเผยข้อมูลส่วนบุคคลของข้าพเจ้าที่มีอยู่กับบริษัทฯได้ภายใต้ข้อกำหนด
      เงื่อนไข และวัตถุประสงค์ ดังต่อไปนี้
   </p>

   <section>
         <h3>
            ข้อ 1. ข้อมูลที่จัดเก็บและใช้โดยบริษัทฯ
            ข้อมูลส่วนบุคคลของเจ้าของข้อมูลที่บริษัทฯได้รับมา ได้แก่:
         </h3>
      <ul>
         <li style="text-indent: 1em">
            1.1. ข้อมูลทั่วไป หมายความว่าข้อมูลเกี่ยวกับบุคคลซึ่งทำให้สามารถระบุ
            และบ่งบอกตัวบุคคลของเจ้าของข้อมูลส่วนบุคคลนั้นได้ เช่น ชื่อบริษัท
            ชื่อ-นามสกุล วันเดือนปีเกิด อายุ ที่อยู่ เพศ หมายเลขโทรศัพท์
            หมายเลขบัตรประชาชน เลขนิติบุคคล อีเมล์ ไลน์ไอดี ชื่อในการใช้งานเฟซบุ๊ก
            (Facebook) รูปถ่าย เป็นต้น
         </li>
         <li style="text-indent: 1em">
            1.2. ข้อมูลด้านการทำธุรกิจ หมายความว่าข้อมูลหรือสิ่งใด ๆ
            ที่แสดงออกมาในรูปแบบเอกสาร แฟ้ม รายงาน หนังสือ แผนผัง แผนที่ ภาพวาด
            ภาพถ่าย ฟิล์ม การบันทึกภาพนิ่ง
            การบันทึกภาพเคลื่อนไหวหรือเสียงการบันทึกโดยเครื่องมือทางอิเล็กทรอนิกส์หรือวิธีอื่นใดที่ทำให้สิ่งที่บันทึกไว้ปรากฏขึ้นในเรื่องที่เกี่ยวกับการดำเนินธุรกิจของบุคคลที่สามารถระบุตัวบุคคลได้
            และ/หรือ
         </li>
         <li style="text-indent: 1em">
            1.3. ข้อมูลส่วนบุคคลที่มีความอ่อนไหว หมายความว่าอันได้แก่ ข้อมูลชีวภาพ
            ข้อมูลสุขภาพ ประวัติอาชญากรรม และข้อมูลที่แสดงอยู่ในเอกสารประจำตัว
            เป็นต้น
         </li>
      </ul>

      <h3>ข้อ 2. ความยินยอมให้เก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคล</h3>
      <p>
         ข้าพเจ้าตกลงยินยอมให้บริษัทฯเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคล
         และข้อมูลการใช้บริการของข้าพเจ้าได้ และยินยอมให้บริษัทส่ง โอน ใช้
         และ/หรือเปิดเผยข้อมูลส่วนบุคคลให้แก่บุคคลในบริษัทฯ บริษัทอื่น ๆ
         ในเครือเดียวกัน ผู้ประมวลผลข้อมูล นิติบุคคลหรือบุคคลใด ๆ
         ที่เกี่ยวข้องตามสัญญาหรือคู่ค้าหรือพันธมิตรทางการค้าและธุรกิจหรือผู้ให้บริการที่เป็นบุคคลภายนอก
         เช่น ผู้สอบบัญชี ผู้ตรวจสอบภายใน และผู้ตรวจสอบภายนอกของบริษัท
         ที่ปรึกษากฎหมาย และทนายความ ผู้ให้บริการเกี่ยวกับเทคโนโลยีสารสนเทศ
         การวิเคราะห์ข้อมูล สถิติ การวิจัย และพัฒนาผลิตภัณฑ์ เป็นต้น
         หรือดำเนินการตามกฎหมาย หน่วยงานภาครัฐ หน่วยงานกำกับดูแล สถาบันการเงิน
         ผู้รับโอนสิทธิเรียกร้องได้ทั้งในประเทศไทย และต่างประเทศตามความจำเป็น
         และเหมาะสม โดยมีวัตถุประสงค์ของการเก็บรวบรวม ใช้หรือเปิดเผยข้อมูลส่วนบุคคล
         คือ
      </p>
      <ul>
         <li style="text-indent: 1em">
            2.1. เพื่อวัตถุประสงค์ในการขายสินค้า ให้บริการ วิเคราะห์ข้อมูล
            ปรับปรุงคุณภาพสินค้าหรือการให้บริการ
         </li>
         <li style="text-indent: 1em">
            2.2. เพื่อประโยชน์ในการดำเนินงานของบริษัทฯ เช่น การจัดซื้อจัดจ้าง
            การทำสัญญา การทำธุรกรรมทางการเงิน การดำเนินกิจกรรมบริษัทฯ
            การติดต่อประสานงาน การโฆษณา ประชาสัมพันธ์ หรือให้ข้อมูลข่าวสารต่าง ๆ
         </li>
         <li style="text-indent: 1em">
            2.3. เพื่อปรับปรุงคุณภาพการทำงานให้มีประสิทธิภาพมากยิ่งขึ้น เช่น
            การจัดทำฐานข้อมูล วิเคราะห์ และพัฒนากระบวนการดำเนินงานของบริษัทฯ
         </li>
         <li style="text-indent: 1em">
            2.4. เพื่อตรวจสอบรายการธุรกรรมที่อาจบ่งชี้ถึงการทุจริต
         </li>
         <li style="text-indent: 1em">
            2.5. เพื่อประโยชน์ในการยืนยันหรือระบุตัวตนของเจ้าของข้อมูลส่วนบุคคล
         </li>
         <li style="text-indent: 1em">
            2.6.เพื่อวัตถุประสงค์อื่นใดที่เกี่ยวข้องกับการขายสินค้าหรือให้บริการระหว่างท่านกับบริษัท
         </li>
         <li style="text-indent: 1em">
            2.7.เพื่อปฏิบัติตามกฎหมายหรือกฎระเบียบของหน่วยงานราชการที่เกี่ยวข้องต่อการดำเนินงานของบริษัทฯ โดยบริษัทฯจะจัดเก็บและใช้ข้อมูลดังกล่าวตามระยะเวลาเท่าที่จำเป็นตามวัตถุประสงค์ที่ได้
            แจ้งเจ้าของข้อมูลส่วนบุคคลหรือตามที่กฎหมายกำหนดไว้หรือตามความจำเป็นทางเทคนิคเท่านั้น
      </li>
      </ul>

      <h3>
         ข้อ 3.ข้าพเจ้ายินยอมให้บริษัทฯเก็บรวบรวมข้อมูลส่วนบุคคลของข้าพเจ้าจากแหล่งอื่นได้เช่น ในส่วนราชการหรือหน่วยงานของรัฐ เป็นต้น
      </h3>

      <h3>ข้อ 4. วิธีการเพิกถอนความยินยอม และผลการเพิกถอนความยินยอม</h3>
      <p>
         ข้าพเจ้าในฐานะเจ้าของข้อมูลส่วนบุคคลอาจเพิกถอนความยินยอมทั้งหมดหรือส่วนใดส่วนหนึ่งตามหนังสือฉบับนี้โดยข้าพเจ้าจะแจ้งให้บริษัทฯทราบเป็นหนังสือ
         และบริษัทอาจขอทราบถึงเหตุผลแห่งการนั้น การเพิกถอนความยินยอมของข้าพเจ้าจะไม่ส่งผลกระทบต่อการเก็บ รวบรวมใช้หรือเปิดเผยข้อมูลส่วนบุคคลที่ข้าพเจ้าได้ยินยอมแก่บริษัทฯไปแล้วก่อนหน้านั้น
         ในกรณีที่การเพิกถอนความยินยอมเกิดผลกระทบต่อสิทธิหรือหน้าที่ใด ๆ ของข้าพเจ้า ข้าพเจ้ายอมรับผลกระทบที่เกิดจากการนั้นได้ อนึ่ง ในกรณีที่คณะกรรมการคุ้มครองข้อมูลส่วนบุคคลกำหนดหลักเกณฑ์วิธีการใด ๆ
         ในอนาคตที่มีผลทำให้การให้ความยินยอมตามหนังสือฉบับนี้จะต้องเปลี่ยนแปลงปรับปรุงหรือแก้ไขเพื่อให้สอดคล้องกับหลักเกณฑ์ และวิธีการดังกล่าวข้าพเจ้ายินดีที่จะให้บริษัทฯดำเนินการจัดทำหนังสือขึ้นใหม่
         ข้าพเจ้าได้อ่านและเข้าใจข้อความซึ่งระบุไว้ในคำขออนุญาตให้รวบรวมข้อมูลส่วนบุคคลของบริษัทฯพร้อมทั้งยินยอมให้บริษัทฯเก็บรวบรวม ใช้หรือเปิดเผยข้อมูลส่วนบุคคลตามคำขอของบริษัทฯได้อย่างถูกต้อง
      </p>
   </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
   <button mat-button mat-dialog-close class="close-button">
      <mat-icon>close</mat-icon>
   </button>
</mat-dialog-actions>
