<div class="centered-content">
   <div class="text-section">
      <h1>บริการที่เรานำเสนอ</h1>
   </div>
   <div class="image-row">
      <img src="./assets/PA-5.png" alt="Delivery Illustration"/>
      <img src="./assets/PA-6.png" alt="Delivery Illustration"/>
      <img src="./assets/PA-7.png" alt="Delivery Illustration"/>
   </div>
</div>

<div class="container">
   <div class="image-section">
      <img src="./assets/P-4.png" alt="Delivery Illustration"/>
   </div>
   <div class="text-section">
      <h1>ติดตามการจัดส่งของคุณได้ทุกเวลา</h1>
      <p>ด้วยแอปของเราคุณสามารถติดตามเส้นทางการจัดส่งซื้อของคุณได้</p>
      <p>ตั้งแต่ศูนย์กลางของเราจนถึงสถานที่ที่คุณอยู่ดาวน์โหลดแอปได้เลยตอนนี้</p>
      <div class="example-button-row">
         <button class="custom-button-row">
            <img src="./assets/App Store.png" alt="App Store" class="resized-image"/>
         </button>
         <button class="custom-button-row">
            <img src="./assets/Google Play.png" alt="Google Play" class="resized-image"/>
         </button>
      </div>
   </div>
</div>
