<div class="container">
   <div class="image-section">
      <img src="./assets/P-2.png" alt="Delivery Illustration"/>
   </div>
   <div class="text-section">
      <h1>รู้จักเราให้มากขึ้นอีกนิด</h1>
      <p>เราเป็นบริษัทที่มุ่งมั่นในการจัดจำหน่ายสินค้าโดยการจัดส่งถึงบ้านหรือ</p>
      <p>สถานที่ที่คุณอยู่พร้อมมอบบริการจักส่งที่มีคุณภาพดีที่สุดให้กับคุณ</p>
   </div>
</div>

<div class="container">
   <div class="text-section">
      <h1>ความปลอดภัยของคุณสำคัญ</h1>
      <h1>สำหรับเรา</h1>
      <p>เมื่อคำสั่งซื่อของคุณมาถึงเรามีมาตรการด้านความปลอดภัย</p>
      <p>ทางสุขภาพเพื่อปกป้องคุณจากโรคต่าง ๆ </p>
      <p>รับชมวีดีโอเกี่ยวกับขั้นตอนการจักสั่งได้เลย</p>
   </div>
   <div class="image-section">
      <img src="./assets/P-3.png" alt="Delivery Illustration"/>
   </div>
</div>

