<div class="contact-container">
   <div class="text-section">
      <h1>ติดต่อเราที่นี่</h1>
      <p>คุณสามารถติดต่อเราผ่านช่องทางนี้ได้ ทั้งการเขียนข้อความ</p>
      <p>โทรหาเรา หรือมาเยี่ยมศูนย์บริการของเรา</p>
      <p>เรายินดีให้ความช่วยเหลือคุณด้วยความเต็มใจ</p>
   </div>
   
   <div class="contact-info-section">
      <div class="contact-item">
         <h2>เบอร์โทรศัพท์:</h2>
         <p>999-888-777</p>
      </div>
      <div class="contact-item">
         <h2>อีเมล:</h2>
         <p>{{email}}</p>
      </div>
      <div class="contact-item">
         <h2>สถานที่:</h2>
         <p>Mumbai - India</p>
      </div>
   </div>
   
   <div class="contact-button">
      <button class="custom-button">ติดต่อเรา</button>
   </div>
</div>

<div class="container-1">
   <div class="text">
      <h1>การจัดส่ง</h1>
      <p>สั่งซื้อสินค้าได้เร็วและง่ายขึ้น</p>
   </div>

   <div class="text">
      <h1>การบริการของเรา</h1>
      <p>ราคา</p>
      <p>ส่วนลด</p>
      <p>รายงานปัญหา</p>
      <p>ข้อกำหนดการใหบริการ</p>
   </div>

   <div class="text">
      <h1>เกี่ยวกับบริษัทของเรา</h1>
      <p>บล็อก</p>
      <p>พันธกิจของเรา</p>
      <p>ติดต่อเรา</p>
   </div>
   
   <div class="text">
      <h1>ชุมชน</h1>
      <p>ฝ่ายสนับสนุน</p>
      <p>คำถามที่พบบ่อย</p>
      <p>บริการช่วยเหลือลูกค้า</p>
   </div>
   <div class="text">
      <img src="./assets/FGT-1.png"/>
      <p class="copyright">&copy; Ajinkya. All rights reserved</p>
   </div>

</div>